* {
    outline: 1px solid green;
}

.main-container {
    display: flex;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.intro-container  {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 40vw;
}

.intro-container input,
.intro-container textarea {
    width: 20vw;
}

.flex-container {
    display: flex;
}