* {
    /* outline: 1px solid green; */
}

.intro-container  {
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-width: 210mm;
}

.intro-container input,
.intro-container textarea {
    width: 50vw; 
}

.flex-container {
    display: flex;
}

.important-note {
    text-align: center;
    margin-top: 20px;
}